.article {
    max-width: 100%;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}

.date {
    color: var(--color-secondary);
    margin-bottom: 2rem;
    font-size: 1rem;
}

.content {
    line-height: 1.9;
    /* Increased line height */
    font-size: 1.25rem;
    /* Increased font size */
    color: var(--color-fg);
}

.content h2 {
    font-size: 2rem;
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
    font-weight: 800;
    letter-spacing: -0.03em;
}

.content h3 {
    font-size: 1.6rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.content p {
    margin-bottom: 1.5rem;
    /* Increased spacing */
}

/* Ensure images are responsive and fit within the content width */
.content img,
.content video {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 2rem auto;
    /* Center images with some spacing */
    border-radius: 8px;
    /* Optional: adds a nice touch */
}

.content ul,
.content ol {
    margin-bottom: 1.25rem;
    padding-left: 1.5rem;
}

.content li {
    margin-bottom: 0.5rem;
}

.content a {
    color: var(--color-primary);
    text-decoration: underline;
}

.content code {
    background-color: #f5f5f5;
    padding: 0.2em 0.4em;
    border-radius: 3px;
    font-size: 0.9em;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

@media (prefers-color-scheme: dark) {
    .content code {
        background-color: #333;
    }
}